<html>
  <head>
    <title><%= locals.title || 'Foodwaste Store & Analysis' %></title>

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: #ffa500"
    >
      <a class="navbar-brand" href="/">Foodwaste Store & Analysis</a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/contribute/dashboard">Contribute</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/review">Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/others">Others</a>
          </li>
        </ul>
      </div>
    </nav>

    <br /><br /><br />

    <!--<div>
			<a href="/">Home</a> | 
			<a href="/users/add">New Person</a> | 
			<a href="/users">List Persons</a>
		</div>-->

    <!--The closing tags are in the footer-->
    <div class="container">
      <div class="body-content">
        <h1 style="text-align: center"><%= locals.title %></h1>

        <% if(locals.error){ %>
        <div class="alert alert-danger" role="alert"><%= locals.error %></div>
        <% } %> 
        
        <% if(locals.success){ %>
        <div class="alert alert-success" role="alert"><%= locals.message %></div>
        <% } %>

